{% extends "base.html" %}
{% block content %}
  <div class="h-dvh flex flex-col">
    {% include '_includes/_navbar.html' %}
    <div class="flex flex-col flex-1 px-4 py-4 gap-4 min-h-0">
      {# -------------------------------------------------------------------- #}
      {# Card #}
      <div class="card bg-base-200 shadow-sm">
        <div class="card-body flex flex-row p-4 justify-between items-center">
          <div class="flex items-center gap-4 py-2">
            <h1 class="card-title text-2xl">Pays / Régions</h1>
            <div id="items-count" class="badge badge-outline badge-accent badge-md">
              {{ result.total }}
            </div>
          </div>
          <div><button class="btn">Nouveau</button></div>
        </div>
      </div>
      {# -------------------------------------------------------------------- #}
      {# Table #}
      <div class="overflow-x-auto rounded-box border border-base-300 md:w-4/12 md:mx-auto">
        <table class="table table-pin-rows table-sm">
          <tbody>
          {% for item in result.items %}
            <tr>
              <td>
                <label><input type="checkbox" class="checkbox" /></label>
              </td>
              <td>{{ item.name }}</td>
              {% if item.code %}
                <td>
                  <img src="https://flagcdn.com/48x36/{{ item.code.lower() }}.png" width="20" height="15">
                </td>
                {% else %}
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {# -------------------------------------------------------------------- #}
    </div>
  </div>
{% endblock %}
