{% extends "base.html" %}
{% block content %}

    <div class="overflow-x-auto">
        <table class="table table-xs">
            <thead>
            <tr>
                <th>Name</th>
                <th>Name</th>
                <th>Region</th>
                <th>Color</th>
                <th>Volume</th>
                <th>Alcohol</th>
                <th>Distributor</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.name.name1 }}</td>
                    <td>{{ article.name.name2 }}</td>
                    <td>{{ article.region }}</td>
                    <td>{{ article.color }}</td>
                    <td>{{ article.volume.value }} {{ article.volume.unit }}</td>
                    <td>{{ article.alcohol_by_volume }}</td>
                    <td>{{ article.distributor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
