{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}

    <form method="post">
        <div class="container-fluid padding-navbar">

            <div class="row mb-2">
                <div class="col d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-outline-primary ms-2">
                        <i class="bi bi-tags-fill"></i> Créer
                    </button>
                    <button type="button" class="btn btn-outline-success" onclick="toggleEmptyRows()">Afficher sélectionné</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead class="sticky" style="--sticky-top: 53px">
                        <tr>
                            <th class="text-center align-middle bg-light-purple">#</th>
                            <th class="text-center align-middle bg-light-purple"></th>
                            <th class="text-center align-middle bg-light-purple"></th>
                            <th class="text-center align-middle bg-light-purple">Région</th>
                            <th class="text-center align-middle bg-light-purple">Couleur</th>
                            <th class="text-center align-middle bg-light-purple">Volume</th>
                            <th class="text-center align-middle bg-light-purple">Degré</th>
                            <th class="text-center align-middle bg-light-purple">TTC</th>
                            <th class="text-center align-middle bg-light-purple">Catégorie</th>
                            <th class="text-center align-middle bg-light-purple"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in articles %}
                            <tr>
                                <td class="text-center font-weight-bold">{{ loop.index }}</td>
                                <td class="">{{ x.name.name1 }}</td>
                                <td class="">{{ x.name.name2 }}</td>
                                <td class="text-center">{{ x.region }}</td>
                                <td class="text-center">{{ x.color }}</td>
                                <td class="text-center">{{ x.volume.value | strip_zeros if x.volume }} {{ x.volume.unit if x.volume }}</td>
                                <td class="text-center">{{ x.alcohol_by_volume | strip_zeros if x.alcohol_by_volume }}</td>
                                <td class="text-center">{{ x.shops[current_shop.username]['sell_price'] | strip_zeros }}</td>
                                <td class="text-center font-weight-bold">{{ x.type }}</td>
                                <td style="padding: 0; width: 4%;">
                                    <input style="height: 25px;" class="form-control form-control-sm" type="number" step="1" min="1" name="{{ x.id }}">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </form>

{% endblock %}
