<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  {# Should be before everything to prevent FOUC #}
  <script src="{{ url_for('static', path='js/init.theme.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>

  <link href="{{ url_for('static', path='favicon.ico') }}" rel="shortcut icon">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

<div class="toast toast-end z-9999"></div>

<div id="loading-overlay" class="absolute inset-0 flex items-center justify-center z-9998 bg-neutral/20 hidden">
  <span class="loading loading-bars loading-xl"></span>
</div>


{% block content %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
<script type="module" src="{{ url_for('static', path='js/app.js') }}"></script>

</body>
</html>
