{# Produits ----------------------------------------------------------- #}
<li>
  <details>
    <summary>Produits</summary>
    <ul class="bg-primary w-max">
      {% for category in navbar_categories %}
        <li>
          <a href="{{ url_for('get_articles_view', display_group=category.code) }}">
            {{ category.plural_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </details>
</li>
{# Nouveau ------------------------------------------------------------ #}
<li>
  <details>
    <summary>Nouveau</summary>
    <ul class="bg-primary w-max">
      {% for category in navbar_categories %}
        <li>
          <a href="{{ url_for('create_article_view', display_group=category.code) }}">
            {{ category.singular_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </details>
</li>
{# Etiquettes --------------------------------------------------------- #}
<li>
  <details>
    <summary>Etiquettes</summary>
    <ul class="p-2 bg-primary w-max">
      <li><a href="{{ url_for('get_price_labels_files') }}">A imprimer</a></li>
      {% for shop in current_user.shops %}
        <li>
          <a href="{{ url_for('create_price_labels_view') }}?shop={{ shop.username }}">
            {{ shop.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </details>
</li>
{# Inventaires -------------------------------------------------------- #}
<li><a href="{{ url_for('get_inventories_view') }}">Inventaires</a></li>
{# Gestion ------------------------------------------------------------ #}
<li>
  <details>
    <summary>Gestion</summary>
    <ul class="p-2 bg-primary w-max">
      {% for item in navbar_items %}
        {% set href = url_for(item.endpoint, item_type=item.item_type) if item.item_type else url_for(item.endpoint) %}
        <li>
          <a href="{{ href }}">
            {{ item.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </details>
</li>
