<div class="navbar bg-primary text-primary-content shadow-sm z-50">
  {# Navbar start ----------------------------------------------------------- #}
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-primary rounded-box z-1 mt-3 w-52 p-2 shadow">
        {% include 'menu.html' %}
      </ul>
    </div>
    <div class="badge badge-xl badge-accent font-bold ms-4">Le Vin d'Orge</div>
  </div>
  {# Navbar center ---------------------------------------------------------- #}
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-md menu-horizontal px-1">
      {% include 'menu.html' %}
    </ul>
  </div>
  {# Navbar end ------------------------------------------------------------- #}
  <div class="navbar-end flex gap-6 pe-6">
    <label class="input text-base-content w-36 md:w-64">
      <i class="bi bi-search"></i>
      <input
          type="text"
          placeholder="Rechercher"
          id="search"
      />
      <button
          id="clear-search"
          class="btn p-0 border-none bg-transparent shadow-none
                 hover:bg-transparent hover:shadow-none hover:text-current
                 focus:outline-none focus:ring-0 active:bg-transparent"
      >
        <i class="bi bi-x-lg"></i>
      </button>
    </label>
    <label class="swap swap-rotate">
      <input type="checkbox" data-toggle-theme="light,dark"/>
      <i class="swap-off bi bi-sun text-2xl"></i>
      <i class="swap-on bi bi-moon text-2xl"></i>
    </label>
  </div>
  {# ------------------------------------------------------------------------ #}
</div>
