{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}

    <div class="container-fluid padding-navbar">
        <div class="row justify-content-center">
            <div class="col col-lg-8">

                {% if files %}

                    <table class="responsive mb-3">
                        <thead class="sticky" style="--sticky-top: 53px">
                        <tr>
                            <th class="text-center bg-light-purple">ID</th>
                            <th class="text-center bg-light-purple">Type</th>
                            <th class="text-center bg-light-purple">Magasin</th>
                            <th class="text-center bg-light-purple">Date</th>
                            <th class="text-center bg-light-purple">Heure</th>
                            <th class="text-center bg-light-purple"></th>
                            <th class="text-center bg-light-purple"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                            <tr>
                                <td data-label="ID">{{ file.id }}</td>
                                <td data-label="Type">{{ file.type }}</td>
                                <td data-label="Magasin">{{ file.shop }}</td>
                                <td data-label="Date">{{ (file.date | local_timezone).strftime("%d / %m / %Y") }}</td>
                                <td data-label="Heure">{{ (file.date | local_timezone).strftime("%H:%M:%S") }}</td>
                                <td class="button">
                                    <a target="_blank" rel="noopener noreferrer" href="{{ url_for('get_price_labels_file', file=file.file) }}">
                                        <i class="bi bi-file-earmark text-primary"></i>
                                    </a>
                                </td>
                                <td class="button">
                                    <a href="{{ url_for('delete_price_labels_file', file=file.file) }}">
                                        <i class="bi bi-file-earmark-x text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
