{% extends "demo_base.html" %}
{% block content %}
    {% include "navbar.html" %}

    <div class="container-fluid padding-navbar">
        <table class="table table-striped table-bordered table-hover table-sm sortable">
            <thead class="sticky" style="--sticky-top: 53px">
            <tr>
                <th class="text-center align-middle bg-light-purple" role="button">#</th>
                <th class="text-center align-middle bg-light-purple" role="button"></th>
                <th class="text-center align-middle bg-light-purple" role="button"></th>
                <th class="text-center align-middle bg-light-purple" role="button">Région</th>
                <th class="text-center align-middle bg-light-purple" role="button">Couleur</th>
                <th class="text-center align-middle bg-light-purple" role="button">Volume</th>
                <th class="text-center align-middle bg-light-purple" role="button">Degré</th>
                <th class="text-center align-middle bg-light-purple" role="button">Catégorie</th>
                <th class="text-center align-middle bg-light-purple" role="button">Créé par</th>
                <th class="text-center align-middle bg-light-purple not-sortable">Créé le</th>
                <th class="bg-light-purple not-sortable"></th>
                <th class="bg-light-purple not-sortable"></th>
                <th class="bg-light-purple not-sortable"></th>
            </tr>
            </thead>
            <tbody>
            {% for x in articles %}
                <tr>
                    <td class="text-center font-weight-bold">{{ loop.index }}</td>
                    <td class="">{{ x.name.name1 }}</td>
                    <td class="">{{ x.name.name2 }}</td>
                    <td class="text-center">{{ x.region }}</td>
                    <td class="text-center">{{ x.color }}</td>
                    <td class="text-center">{{ x.volume | strip_zeros if x.volume }}</td>
                    <td class="text-center">{{ x.alcohol_by_volume | strip_zeros if x.alcohol_by_volume }}</td>
                    <td class="text-center font-weight-bold">{{ x.type }}</td>
                    <td class="text-center">{{ x.created_by }}</td>
                    <td class="text-center">{{ x.created_at.strftime("%d / %m / %Y") }}</td>
                    <td class="text-center">
                        <a href="{{ url_for('articles.validate_article', article_id=x.id) }}">
                            <i class="bi bi-check-square text-success"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{{ url_for('articles.update_article', validate=True, article_id=x.id) }}">
                            <i class="bi bi-pencil-square text-warning"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{{ url_for('articles.delete_article', article_id=x.id) }}">
                            <i class="bi bi-x-square text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
