{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}

    <form method="post">
        <div class="container-fluid padding-navbar">
            <table class="table table-dark table-striped table-bordered table-hover table-sm">
                <thead class="bg-light-purple table-sticky">
                <tr>
                    <th class="text-center align-middle">#</th>
                    <th class="text-center align-middle"></th>
                    <th class="text-center align-middle"></th>
                    <th class="text-center align-middle">Région</th>
                    <th class="text-center align-middle">Couleur</th>
                    <th class="text-center align-middle">Volume</th>
                    <th class="text-center align-middle">Degré</th>
                    <th class="text-center align-middle">Catégorie</th>
                    <th class="text-center align-middle">Créé par</th>
                    <th class="text-center align-middle">Créé le</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for x in articles %}
                    <tr>
                        <td class="text-center font-weight-bold">{{ loop.index }}</td>
                        <td class="">{{ x.name.name1 }}</td>
                        <td class="">{{ x.name.name2 }}</td>
                        <td class="text-center">{{ x.region }}</td>
                        <td class="text-center">{{ x.color }}</td>
                        <td class="text-center">{{ x.volume | strip_zeros if x.volume }}</td>
                        <td class="text-center">{{ x.alcohol_by_volume | strip_zeros if x.alcohol_by_volume }}</td>
                        <td class="text-center font-weight-bold">{{ x.type }}</td>
                        <td class="text-center">{{ x.created_by }}</td>
                        <td class="text-center">{{ x.created_at.strftime('%d / %m / %Y') }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('articles.validate_article', article_id=x.id) }}">
                                <i class="bi bi-check-square text-success"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('articles.update_article', validate=True, article_id=x.id) }}">
                                <i class="bi bi-pencil-square text-warning"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('articles.delete_article', article_id=x.id) }}">
                                <i class="bi bi-x-square text-danger"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

{% endblock %}
