{% extends 'base.html' %}
{% block content %}

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <!-- RATIO_CATEGORY -->
    <input type="hidden" id="ratio_category" value="{{ ratio_category }}">

    <form method="post" id="form_product">
        <!-- id="create_article" pour la fonction du calcul des prix -->
        <div class="modal-dialog modal-lg" role="document" id="create_article">
            <div class="modal-content">
                <div class="modal-header justify-content-center">

                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-white">Nouveau</span>
                            </div>
                            {% if type_list|length > 1 %}
                                <select class="custom-select" name="type" required>
                                    <option selected></option>
                                    {% for x in type_list %}
                                        <option>{{ x }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" class="form-control" name="type" value="{{ type_list[0] }}" readonly>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                        <!-- NAME -->
                        <div class="form-row mb-2">
                            <!-- ----------------------------------------------------------------------- -->
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        {% if list_category in ['beer', 'keg', 'mini_keg'] %}
                                            <span class="input-group-text bg-dark-purple text-white">Brasserie</span>
                                        {% elif list_category in ['cider'] %}
                                            <span class="input-group-text bg-dark-purple text-white">Cidrerie</span>
                                        {% elif list_category in ["rhum", "whisky", "arranged", "spirit"] %}
                                            <span class="input-group-text bg-dark-purple text-white">Distillerie</span>
                                        {% elif list_category in ["wine", "fortified_wine", "sparkling_wine", "bib"] %}
                                            <span class="input-group-text bg-dark-purple text-white">Appellation</span>
                                        {% else %}
                                            <span class="input-group-text bg-dark-purple text-white">Désignation</span>
                                        {% endif %}
                                    </div>
                                    {% if list_category not in ["wine", "fortified_wine", "sparkling_wine", "bib"] + ["box", "misc", "food"] %}
                                        <select class="custom-select" name="name1">
                                            <option selected></option>
                                            {% if list_category in ["beer", "cider", "keg", "mini_keg"] %}
                                                {% for brewery in brewery_list %}
                                                    <option>{{ brewery.name }}</option>
                                                {% endfor %}
                                            {% else %}
                                                {% for distillery in distillery_list %}
                                                    <option>{{ distillery.name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    {% else %}
                                        <input type="text" class="form-control" name="name1" required>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- ----------------------------------------------------------------------- -->
                            {% if list_category not in ["box", "misc", "food"] %}
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            {% if list_category in ['beer', 'keg', 'mini_keg'] %}
                                                <span class="input-group-text bg-dark-purple text-white">Bière</span>
                                            {% elif list_category in ['cider'] %}
                                                <span class="input-group-text bg-dark-purple text-white">Cidre</span>
                                            {% elif list_category in ["rhum", "whisky", "arranged", "spirit"] %}
                                                <span class="input-group-text bg-dark-purple text-white">Spiritueux</span>
                                            {% elif list_category in ["wine", "fortified_wine", "sparkling_wine", "bib"] %}
                                                <span class="input-group-text bg-dark-purple text-white">Produit</span>
                                            {% endif %}
                                        </div>
                                        <input type="text" class="form-control" name="name2" required>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- ----------------------------------------------------------------------- -->
                        </div>
                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                        <!-- REGION / COLOR / TASTE -->
                        {% set beer_color_list = ['Ambrée', 'Blanche', 'Blonde', 'Brune', 'Fruitée'] %}
                        {% set wine_color_list = ['Blanc', 'Rosé', 'Rouge'] %}
                        {% set taste_list = ['Boisé', 'Epicé', 'Floral', 'Fruité', 'Iodé', 'Toasté', 'Tourbé', 'Végétal'] %}

                        {% if list_category not in ["box", "misc", "food"] %}
                            <div class="form-row mb-2">
                                <!-- ----------------------------------------------------------------------- -->
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-dark-purple text-white">{% if list_category in ["wine", "fortified_wine", "sparkling_wine", "bib"] %}Région{% else %}Pays{% endif %}</span>
                                        </div>
                                        <select class="custom-select" name="region" required>
                                            <option selected></option>
                                            {% if list_category in ["wine", "fortified_wine", "sparkling_wine", "bib"] %}
                                                {% for region in region_list %}
                                                    <option>{{ region.name }}</option>
                                                {% endfor %}
                                            {% else %}
                                                {% for country in country_list %}
                                                    <option>{{ country.name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <!-- ----------------------------------------------------------------------- -->
                                {% if list_category != 'arranged' %}
                                    <div class="col-6">
                                        <div class="input-group">
                                            {% if list_category in ['rhum', 'whisky', 'spirit'] %}
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-dark-purple text-white">Saveur</span>
                                                </div>
                                                <select class="custom-select" name="taste">
                                                    <option selected></option>
                                                    {% for x in taste_list %}
                                                        <option>{{ x }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% else %}
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-dark-purple text-white">Couleur</span>
                                                </div>
                                                <select class="custom-select" name="color" required>
                                                    <option selected></option>
                                                    {% if list_category in ["beer", "cider", "keg", "mini_keg"] %}
                                                        {% for x in beer_color_list %}
                                                            <option>{{ x }}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for x in wine_color_list %}
                                                            <option>{{ x }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- ----------------------------------------------------------------------- -->
                            </div>
                        {% endif %}
                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                        <!-- VOLUME / ALCOHOL_BY_VOLUME / BIODYNAMIC-->
                        {% set bio_list = ['Bio', 'Biodynamique'] %}

                        {% if list_category not in ["box", "misc", "food"] %}
                            <div class="form-row mb-2">
                                <!-- ----------------------------------------------------------------------- -->
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            {% if list_category in ['keg', 'mini_keg', 'bib'] %}
                                                <span class="input-group-text bg-dark-purple text-white">Volume (L)</span>
                                            {% else %}
                                                <span class="input-group-text bg-dark-purple text-white">Volume (cL)</span>
                                            {% endif %}
                                        </div>
                                        <select class="custom-select" name="volume" required>
                                            <option selected></option>
                                            {% for x in volume_list %}
                                                <option>{{ x | strip_zeros }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- ----------------------------------------------------------------------- -->
                                {% if list_category not in ["wine", "fortified_wine", "sparkling_wine", "bib"] + ["box", "misc", "food"] %}
                                    <div class="col-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-dark-purple text-white">Degré</span>
                                            </div>
                                            <input type="number" step="0.1" min="0.5" class="form-control" name="alcohol_by_volume" required>
                                        </div>
                                    </div>
                                {% elif list_category == 'wine' %}
                                    <div class="col-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-dark-purple text-white">Bio</span>
                                            </div>
                                            <select class="custom-select" name="biodynamic">
                                                <option selected></option>
                                                {% for x in bio_list %}
                                                    <option>{{ x }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- ----------------------------------------------------------------------- -->
                            </div>
                        {% endif %}
                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                        <!-- FOOD PAIRING -->
                        {% set food_pairing_list = ['Fruits de mer', 'Dessert', 'Fois gras', 'Fromage', 'Poisson',
            'Viande rouge', 'Volaille', 'Charcuterie'] %}

                        {% if list_category == 'wine' %}
                            {% for row in range(2) %}
                                <div class="form-row mb-2">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-dark-purple text-white">Accords</span>
                                            </div>
                                            {% for col in range(3) %}
                                                {% set i = (row * 3) + col %}
                                                <select class="custom-select" name="food_pairing_{{ i }}">
                                                    <option selected></option>
                                                    {% for x in food_pairing_list %}
                                                        <option>{{ x }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

                        {% include 'article_price.html' %}

                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                        <!-- DISTRIBUTOR / BARCODE -->
                        <div class="form-row mb-2">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-dark-purple text-white">Fournisseur</span>
                                    </div>
                                    <select class="custom-select" name="distributor" required>
                                        <option selected></option>
                                        {% for distributor in distributor_list %}
                                            <option>{{ distributor.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-dark-purple text-white">Code-barres</span>
                                    </div>
                                    <input type="text" class="form-control" name="barcode">
                                </div>
                            </div>
                        </div>
                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                        <!-- DEPOSIT -->
                        {% if list_category == 'beer' %}
                            {% set unit_deposit = [0, 0.08, 0.1, 0.12, 0.15, 0.2, 0.3, 0.4, 0.5] %}
                        {% elif list_category == 'keg' %}
                            {% set unit_deposit = [0, 30, 45, 48] %}
                        {% elif list_category == 'mini_keg' %}
                            {% set unit_deposit = [0, 7.1] %}
                        {% endif %}

                        {% set case_deposit = [0, 3.1, 3.42, 3.9, 4.2, 4.5, 6, 6.9, 7, 8, 8.6, 9.5, 11.8, 12, 14,2] %}

                        {% if list_category in ['beer', 'keg', 'mini_keg'] %}
                            <div class="form-row mb-2">
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            {% if list_category == 'beer' %}
                                                <span class="input-group-text bg-dark-purple text-white">Consigne bouteille</span>
                                            {% else %}
                                                <span class="input-group-text bg-dark-purple text-white">Consigne</span>
                                            {% endif %}
                                        </div>
                                        <select class="custom-select" name="unit" id="deposit_unit" required>
                                            <option selected></option>
                                            {% for x in unit_deposit %}
                                                <option>{{ x }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% if list_category == 'beer' %}
                                    <div class="col-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-dark-purple text-white">Consigne caisse pleine</span>
                                            </div>
                                            <select class="custom-select" name="case" id="deposit_case" required>
                                                <option selected></option>
                                                {% for x in case_deposit %}
                                                    <option>{{ x }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                        <!-- PACKAGING -->
                        {% set packaging_list = [0, 6, 12, 20, 24] %}

                        {% if list_category == 'beer' %}
                            <div class="form-row mb-2">
                                <div class="col-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-dark-purple text-white">Conditionnement</span>
                                        </div>
                                        <select class="custom-select" name="packaging" required>
                                            <option selected></option>
                                            {% for x in packaging_list %}
                                                <option>{{ x }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                    </div>
                </div>
                <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary" id="create" name="create">
                        Créer
                        <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="display: none;"></span>
                    </button>
                    <button type="submit" class="btn btn-outline-secondary" name="cancel" formnovalidate>
                        Annuler
                    </button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}