<nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple fixed-top">

    <span class="navbar-brand mb-0 h1">Demo</span>

    <div class="d-flex mr-auto">
        <div class="dropdown">
            <button class="btn bg-dark-yellow dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Pessac
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Angoulême</a>
                <a class="dropdown-item" href="#">Sainte-Eulalie</a>
            </div>
        </div>
        <div class="dropdown ml-2">
            <button class="btn bg-dark-yellow dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Bières
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Cidres</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Fûts</a>
                <a class="dropdown-item" href="#">Mini-fûts</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Rhums</a>
                <a class="dropdown-item" href="#">Whiskys</a>
                <a class="dropdown-item" href="#">Arrangés</a>
                <a class="dropdown-item" href="#">Autres</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Vins</a>
                <a class="dropdown-item" href="#">Vins mutés</a>
                <a class="dropdown-item" href="#">Vins effervescents</a>
                <a class="dropdown-item" href="#">BIB</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Coffrets</a>
                <a class="dropdown-item" href="#">Alimentation / BSA</a>
                <a class="dropdown-item" href="#">Accessoire / Emballage</a>
            </div>
        </div>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline ml-auto">
            <input class="form-control" type="search" id="search" placeholder="Rechercher" aria-label="Search">
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown ml-2">
                <a class="btn btn-info dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Etiquette
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">A imprimer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Angoulême</a>
                    <a class="dropdown-item" href="#">Sainte-Eulalie</a>
                    <a class="dropdown-item" href="#">Pessac</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-2">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nouveau
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="">Bière</a>
                    <a class="dropdown-item" href="">Cidre</a>
                    <a class="dropdown-item" href="">Fût</a>
                    <a class="dropdown-item" href="">Mini-fût</a>
                    <a class="dropdown-item" href="">Rhum</a>
                    <a class="dropdown-item" href="">Whisky</a>
                    <a class="dropdown-item" href="">Spiritueux</a>
                    <a class="dropdown-item" href="">Rhum arrangé</a>
                    <a class="dropdown-item" href="">Vin</a>
                    <a class="dropdown-item" href="">Vin muté</a>
                    <a class="dropdown-item" href="">Vin effervescent</a>
                    <a class="dropdown-item" href="">BIB</a>
                    <a class="dropdown-item" href="">Coffret</a>
                    <a class="dropdown-item" href="">Alimentation / BSA</a>
                    <a class="dropdown-item" href="">Accessoire / Emballage</a>
                </div>
            </li>
            <li class="nav-item ml-2">
                <a class="btn btn-danger" href="#">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>
