{% extends "demo_base.html" %}
{% block content %}
    {% include "navbar.html" %}

    <div class="container padding-navbar">

        <div class="row justify-content-center">
            <div class="col col-lg-8">

                <nav class="navbar bg-body-secondary">
                    <div class="container-fluid">

                        <form method="post" class="d-flex">
                            <div class="dropdown me-2">
                                <button class="btn btn-outline-light-purple dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Génerer nouvel inventaire
                                </button>
                                <div class="dropdown-menu">
                                    {% for shop in user_shops %}
                                        <button class="dropdown-item show-overlay" type="submit" name="shop" value="{{ shop.username }}">{{ shop.name }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>

                        <form action="{{ url_for('inventory.reset_tactill_stocks') }}" method="post" class="d-flex mt-1 mt-lg-0">
                            <div class="input-group">
                                <select class="form-select" name="shop" aria-label="Select shop">
                                    <option selected disabled>Magasin</option>
                                    {% for shop in user_shops %}
                                        <option value="{{ shop.username }}">{{ shop.name }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-outline-light-purple dropdown-toggle" type="button" id="reset-stocks" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mise à zéro stocks Tactill
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <button class="dropdown-item show-overlay" name="category" value="beer">Bières / Cidre</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item show-overlay" name="category" value="keg">Fûts</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item show-overlay" name="category" value="spirit">Spiritueux</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item show-overlay" name="category" value="wine">Vins</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item show-overlay" name="category" value="other">Autres</button>
                                    </li>
                                </ul>
                            </div>
                        </form>

                    </div>
                </nav>

            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col col-lg-8">
                {% if inventories %}
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead class="sticky" style="--sticky-top: 53px">
                        <tr>
                            <th class="text-center align-middle bg-light-purple">Date</th>
                            <th class="text-center align-middle bg-light-purple">Magasin</th>
                            <th class="text-center align-middle bg-light-purple">Val. marchande</th>
                            <th class="text-center align-middle bg-light-purple">Val. consigne</th>
                            <th class="text-center align-middle bg-light-purple"></th>
                            <th class="text-center align-middle bg-light-purple"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inventory in inventories %}
                            <tr>
                                <td class="text-center">{{ (inventory.date | astimezone).strftime('%d / %m / %Y - %H:%M') }}</td>
                                <td class="text-center">{{ inventory.shop }}</td>
                                <td class="text-center">{{ inventory.sale_value }}</td>
                                <td class="text-center">{{ inventory.deposit_value }}</td>
                                <td class="text-center" style="width: 50px">
                                    <a href="{{ url_for('inventory.get_inventory', inventory_id=inventory.id) }}"><i class="bi bi-file-earmark"></i></a>
                                </td>
                                <td class="text-center" style="width: 50px">
                                    <a href="{{ url_for('inventory.delete_inventory', inventory_id=inventory.id) }}"><i class="bi bi-file-earmark-x text-danger"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
