{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}

    <div class="container-fluid padding-navbar">

        <ul class="nav nav-pills nav-fill bg-light-purple" id="pills-tab" style="position: sticky; top: 56px" role="tablist">
            {% for name, articles in articles_inventory.items() %}
                {% if loop.index == 1 %}
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-{{ loop.index }}-tab" data-toggle="pill" href="#pills-{{ loop.index }}" role="tab" aria-controls="pills-{{ loop.index }}" aria-selected="true">{{ name }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="pills-{{ loop.index }}-tab" data-toggle="pill" href="#pills-{{ loop.index }}" role="tab" aria-controls="pills-{{ loop.index }}" aria-selected="false">{{ name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content" id="pills-tabContent">
            {% for name, articles in articles_inventory.items() %}
                <div class="tab-pane {% if loop.index == 1 %}show active{% endif %}" id="pills-{{ loop.index }}" role="tabpanel" aria-labelledby="pills-{{ loop.index }}-tab">

                    <table class="table table-dark table-striped table-bordered table-hover table-sm" name="{{ loop.index }}" id="inventory">
                        <thead class="bg-light-purple" style="position: sticky; top: 95px">
                        <tr>
                            <th style="width: 1rem" class="text-center align-middle text-nowrap">#</th>
                            <th class="text-center align-middle text-nowrap"></th>
                            <th class="text-center align-middle text-nowrap"></th>
                            <th class="text-center align-middle text-nowrap">Vol</th>
                            <th class="text-center align-middle text-nowrap">Cond</th>
                            <th class="text-center align-middle text-nowrap">Cons</th>
                            <th class="text-center align-middle text-nowrap">HT DI</th>
                            <th style="width: 5rem" class="text-center align-middle text-nowrap">Quantité</th>
                            <th style="width: 5rem" class="text-center align-middle text-nowrap">Val m</th>
                            <th style="width: 5rem" class="text-center align-middle text-nowrap">Val c</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in articles %}
                            <tr id="{{ x.id }}">
                                <td class="text-center">{{ loop.index }}</td>
                                <td class="">{{ x.name.name1 }}</td>
                                <td class="">{{ x.name.name2 }}</td>
                                <td class="text-center text-nowrap">{{ x.volume | strip_zeros if x.volume }}</td>

                                {% if name == 'Fûts' %}
                                    <td class="text-center text-nowrap" name="packaging">1</td>
                                    <td class="text-center text-nowrap" name="deposit">{{ x.deposit.unit | strip_zeros if x.deposit.unit }}</td>
                                {% else %}
                                    <td class="text-center text-nowrap" name="packaging">{{ x.packaging if x.packaging }}</td>
                                    <td class="text-center text-nowrap" name="deposit">{{ x.deposit.case | strip_zeros if x.deposit.case }}</td>
                                {% endif %}

                                <td class="text-center text-nowrap" name="buy_price">{{ x.taxfree_price | strip_zeros }}</td>
                                <td style="padding: 0">
                                    <input class="form-control form-control-sm" type="number" step="1" min="0" name="quantity" value="{{ x.inventory.stock_quantity }}">
                                </td>
                                <td class="text-center text-nowrap" id="sale_value">{{ x.inventory.sale_value }}</td>
                                <td class="text-center text-nowrap" id="deposit_value">{{ x.inventory.deposit_value if x.inventory.deposit_value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
