{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}

    {% if files %}

        <div class="container padding-navbar">
            <div class="row justify-content-center">
                <div class="col col-lg-8">

                    <table class="responsive">
                    <caption>Etiquettes à imprimer</caption>
                        <thead class="sticky" style="--sticky-top: 53px">
                        <tr>
                            <th class="text-center bg-light-purple">ID</th>
                            <th class="text-center bg-light-purple">Type</th>
                            <th class="text-center bg-light-purple">Magasin</th>
                            <th class="text-center bg-light-purple">Date</th>
                            <th class="text-center bg-light-purple">Heure</th>
                            <th class="text-center bg-light-purple"></th>
                            <th class="text-center bg-light-purple"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                            <tr>
                                <td data-label="ID">{{ file.id }}</td>
                                <td data-label="Type">{{ file.type }}</td>
                                <td data-label="Magasin">{{ file.shop }}</td>
                                <td data-label="Date">{{ file.date.strftime("%Y / %m / %d") }}</td>
                                <td data-label="Heure">{{ file.date.strftime("%H:%m:%S") }}</td>
                                <td class="button">
                                    <a target="_blank" rel="noopener noreferrer" href="{{ url_for('tags.get_tag_file', file=file.file) }}">
                                        <i class="bi bi-file-earmark text-primary"></i>
                                    </a>
                                </td>
                                <td class="button">
                                    <a href="{{ url_for('tags.delete_tag_file', file=file.file) }}">
                                        <i class="bi bi-file-earmark-x text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
