<div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full mx-auto">

  {% if category_group.producer %}
    {% set current_producer = article.producer or '' %}

    <div class="join w-full">
      <span class="join-item btn btn-active btn-soft btn-primary cursor-default">{{ category_group.producer.display_name }}</span>
      <select class="select">
        <option {% if current_producer == '' %}selected{% endif %}></option>
        {% for producer in data.producers %}
          <option {% if current_producer == producer.name %}selected{% endif %}>{{ producer.name }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  {% if category_group.product %}
    <div class="join w-full">
      <span class="join-item btn btn-active btn-soft btn-primary cursor-default">{{ category_group.product }}</span>
      <input type="text" class="input input-bordered join-item w-full" value="{{ article.product }}"/>
    </div>
  {% endif %}

  {% if category_group.origin %}
    <div class="join w-full">
      <span class="join-item btn btn-active btn-soft btn-primary cursor-default">Pays / Région</span>
      <select class="select">
        {% for origin in data.origins %}
          <option {% if article.origin == origin.name %}selected{% endif %}>{{ origin.name }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  {% if category_group.color %}
    <div class="join w-full">
      <span class="join-item btn btn-active btn-soft btn-primary cursor-default">Couleur</span>
      <input type="text" class="input input-bordered join-item w-full" value="{{ article.color }}"/>
    </div>
  {% endif %}

  {% if category_group.taste %}
    <div class="join w-full">
      <span class="join-item btn btn-active btn-soft btn-primary cursor-default">Saveur</span>
      <input type="text" class="input input-bordered join-item w-full"/>
    </div>
  {% endif %}

  {% if category_group.volume %}
    <div class="join w-full">
      <span class="join-item btn btn-active btn-soft btn-primary cursor-default">Volume</span>
      <select class="select">
        {% for volume in data.volumes %}
          <option {% if article.volume.value == volume.value and article.volume.unit == volume.unit %}selected{% endif %}>
            {{ volume }}
          </option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  {% include "articles/_article_price.html" %}

</div>
