{% extends "base_daisyui.html" %}
{% block content %}
  <div class="h-dvh flex flex-col">
    {% include '_includes/_navbar.html' %}
    <div class="flex flex-col flex-1 px-10 py-6 gap-6 min-h-0">
      <div class="card bg-base-200 shadow-sm">
        <div class="card-body flex flex-col md:flex-row justify-between md:items-center gap-4">
          <div class="flex items-center gap-4">
            <h1 class="card-title text-2xl">{{ category_group.title }}</h1>
            <div id="items-count" class="badge badge-soft badge-primary">{{ articles | length }}</div>
          </div>
          <div>
            <select class="select" id="shop-select">
              {% for shop in current_user.shops %}
                {% if shop.username == current_shop.username %}
                  <option value="{{ shop.username }}" selected>{{ shop.name }}</option>
                {% else %}
                  <option value="{{ shop.username }}">{{ shop.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto rounded-lg shadow-sm">
        <table class="table table-pin-rows table-sm" id="articles-table">
          <thead>
            <tr>
              <th></th>

              {# name1 ------------------------------------------------------ #}
              <th>{{ category_group.producer }}</th>

              {# name2 ------------------------------------------------------ #}
              {% if category_group.product %}
                <th>{{ category_group.product }}</th>
              {% endif %}

              {# region ----------------------------------------------------- #}
              {% if category_group.region %}
                <th>{{ category_group.region }}</th>
              {% endif %}

              {# color or taste --------------------------------------------- #}
              {% if category_group.color or category_group.taste %}
                {% if category_group.color %}
                  <th>Couleur</th>
                {% else %}
                  <th>Saveur</th>
                {% endif %}
              {% endif %}

              {# volume ----------------------------------------------------- #}
              {% if category_group.volume %}
                <th>Volume</th>
              {% endif %}

              {# alcohol_by_volume ------------------------------------------ #}
              {% if category_group.alcohol_by_volume %}
                <th>Alc. %</th>
              {% endif %}

              {# Prices & Stock --------------------------------------------- #}
              <th>HT DI</th>
              {% if category_group.recommended_price %}
                <th>PVC</th>
              {% endif %}
              <th>TTC</th>
              <th>Marge (€)</th>
              <th>Taux (%)</th>
              <th>Stock</th>

              {# distributor ------------------------------------------------ #}
              <th>Fournisseur</th>

              {# packaging -------------------------------------------------- #}
              {% if category_group.packaging %}
                <th>Cond.</th>
              {% endif %}

              {# deposit unit ----------------------------------------------- #}
              {% if category_group.deposit.unit %}
                <th>Cons. U</th>
              {% endif %}

              {# deposit case ----------------------------------------------- #}
              {% if category_group.deposit.case %}
                <th>Cons. C</th>
              {% endif %}

              {# category #}
              {% if category_group.category %}
                <th>Type</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
              <tr data-id="{{ article.id }}">
                <td>
                  <label><input type="checkbox" class="checkbox" /></label>
                </td>

                {# name1 ---------------------------------------------------- #}
                <td>{{ article.name.name1 }}</td>

                {# name2 ---------------------------------------------------- #}
                {% if category_group.product %}
                  <td>{{ article.name.name2 }}</td>
                {% endif %}

                {# region --------------------------------------------------- #}
                {% if category_group.region %}
                  <td>{{ article.region }}</td>
                {% endif %}

                {# color or taste ------------------------------------------- #}
                {% if category_group.color or category_group.taste %}
                  {% if category_group.color %}
                    <td>{{ article.color }}</td>
                  {% else %}
                    <td>{{ article.taste }}</td>
                  {% endif %}
                {% endif %}

                {# volume --------------------------------------------------- #}
                {% if category_group.volume %}
                  <td>{{ article.volume.value | strip_zeros }} {{ article.volume.unit }}</td>
                {% endif %}

                {# alcohol_by_volume ---------------------------------------- #}
                {% if category_group.alcohol_by_volume %}
                  <td>{{ article.alcohol_by_volume | strip_zeros }}</td>
                {% endif %}

                {# Prices --------------------------------------------------- #}
                <td>{{ article.taxfree_price | strip_zeros }}</td>
                {% if category_group.recommended_price %}
                  <td data-field="recommended_price">
                    {{ article.shops[current_shop.username].recommended_price | strip_zeros }}
                  </td>
                {% endif %}
                <td data-field="sell_price">{{ article.shops[current_shop.username].sell_price | strip_zeros }}</td>
                <td data-field="margin">{{ article.shops[current_shop.username].margins.margin | strip_zeros }}</td>
                <td data-field="markup">{{ article.shops[current_shop.username].margins.markup | strip_zeros }}</td>

                {# stock_quantity ------------------------------------------- #}
                <td data-field="stock_quantity">
                  <div>
                    {{ article.shops[current_shop.username].stock_quantity if article.shops[current_shop.username].stock_quantity }}
                  </div>
                </td>

                {# distributor ---------------------------------------------- #}
                <td>{{ article.distributor }}</td>

                {# packaging ------------------------------------------------ #}
                {% if category_group.packaging %}
                  <td>{{ article.packaging if article.packaging }}</td>
                {% endif %}

                {# deposit unit --------------------------------------------- #}
                {% if category_group.deposit.unit %}
                  <td>{{ article.deposit.unit | strip_zeros if article.deposit.unit }}</td>
                {% endif %}

                {# deposit case --------------------------------------------- #}
                {% if category_group.deposit.case %}
                  <td>{{ article.deposit.case | strip_zeros if article.deposit.case }}</td>
                {% endif %}

                {# category ------------------------------------------------- #}
                {% if category_group.category %}
                  <td>{{ article.type }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- prettier-ignore-start -->
<script type="application/json" id="articles-data">
  {{ articles_mapping | safe }}
</script>
<!-- prettier-ignore-end -->
{% endblock %}
