<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Etiquette</title>
    <link href="{{ url_for('static', path='css/style_font.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='css/style_spirit.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='css/style_spirit_position.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='css/style_flag.css') }}" rel="stylesheet" />
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
