{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}

    <div class="container-fluid padding-navbar">

        <div class="row justify-content-center">
            <div class="col col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Inventaire</span>
                    <input type="text" class="form-control text-center" aria-label="date" value="{{ (inventory.date | local_timezone).strftime('%d / %m / %Y - %H:%M') }}" readonly>
                    <input type="text" class="form-control text-center" aria-label="shop" value="{{ inventory.shop }}" readonly>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-6">

                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th class="text-center align-middle bg-light-purple"></th>
                        <th class="text-center align-middle bg-light-purple">Valeur marchande</th>
                        <th class="text-center align-middle bg-light-purple">Valeur consigne</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for _, categories in navbar_categories.items() %}
                        {% for category in categories %}
                            {% set values = inventory.inventory.get(category.code) %}
                            <tr>
                                <td class="fw-bold">{{ category.plural_name }}</td>
                                <td class="text-center">{{ values.sale_value | strip_zeros if values }}</td>
                                <td class="text-center">{{ values.deposit_value | strip_zeros if values and values.deposit_value }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <td class="fw-bold text-black bg-dark-yellow">TOTAL</td>
                        <td class="text-center fw-bold text-black bg-dark-yellow">{{ inventory.sale_value }}</td>
                        <td class="text-center fw-bold text-black bg-dark-yellow">{{ inventory.deposit_value }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">

                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th class="text-center align-middle bg-light-purple">Article</th>
                        <th class="text-center align-middle bg-light-purple">HT DI</th>
                        <th class="text-center align-middle bg-light-purple">Quantité</th>
                        <th class="text-center align-middle bg-light-purple">Val. marchande</th>
                        <th class="text-center align-middle bg-light-purple">Cond.</th>
                        <th class="text-center align-middle bg-light-purple">Consigne bouteille</th>
                        <th class="text-center align-middle bg-light-purple">Consigne caisse</th>
                        <th class="text-center align-middle bg-light-purple">Val. consigne</th>
                        <th class="text-center align-middle bg-light-purple">Catégorie</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in inventory.records %}
                        {% set volume = record.article_volume | strip_zeros ~ " cl" if record.article_volume %}
                        <tr>
                            <td>{{ record.article_name.name1 ~ " " ~ record.article_name.name2 ~ " " ~ volume }}</td>
                            <td class="text-center">{{ record.taxfree_price | strip_zeros }}</td>
                            <td class="text-center">{{ record.stock_quantity }}</td>
                            <td class="text-center">{{ record.sale_value | strip_zeros }}</td>
                            <td class="text-center">{{ record.article_packaging if record.article_packaging }}</td>
                            <td class="text-center">{{ record.article_deposit.unit | strip_zeros if record.article_deposit.unit }}</td>
                            <td class="text-center">{{ record.article_deposit.case | strip_zeros if record.article_deposit.case }}</td>
                            <td class="text-center">{{ record.deposit_value | strip_zeros if record.deposit_value }}</td>
                            <td class="text-center">{{ record.article_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>

{% endblock %}
