{% extends "base.html" %}
{% block content %}
  {% include 'inventories/_inventory_details.html' %}
  <div class="h-dvh flex flex-col">
    {% include '_includes/../../../templates/_includes/_navbar.html' %}
    <div class="flex flex-col flex-1 px-10 py-6 gap-6 min-h-0">
      <div class="card bg-base-200 shadow-sm">
        <div class="card-body space-y-4">
          <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-6">
            <div class="flex items-center gap-4">
              <h1 class="card-title text-2xl">Inventaire</h1>
              <div class="badge badge-lg badge-primary">{{ inventory.shop }}</div>
              <div class="badge badge-lg badge-primary">
                {{ (inventory.date | local_timezone).strftime('%d / %m / %Y') }}
              </div>
            </div>
            <div class="card-actions justify-end">
              <button id="item-create-button" class="btn btn-outline btn-primary" onclick="my_modal_1.showModal()">
                Détails
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-x-auto rounded-lg shadow-sm">
        <table id="items-table" class="table table-sm table-pin-rows">
          <thead>
            <tr>
              <th></th>
              <th>Valeur marchande</th>
              <th>Valeur consigne</th>
            </tr>
          </thead>
          <tbody>
            {% for category in navbar_categories %}
              {% set values = inventory.inventory[category.code] %}
              <tr>
                <td class="text-nowrap">{{ category.plural_name }}</td>
                <td>{{ values.sale_value | strip_zeros if values }}</td>
                <td>{{ values.deposit_value | strip_zeros if values and values.deposit_value }}</td>
              </tr>
            {% endfor %}
            <tr>
              <th></th>
              <th><div class="badge badge-accent">{{ inventory.sale_value }} €</div></th>
              <th><div class="badge badge-accent">{{ inventory.deposit_value }} €</div></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
