body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(50, 54, 57);
}

/* Décalage pour la menu */
.padding-navbar {
  padding-top: 71px;
}

/* Centrer au milieu de la page */
body,html {
    height: 100%;
}

/* Positionnement du header du tableau en haut */
.table-sticky {
  position: sticky;
  top: 55px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Modification de la couleur des menus déroulants */
.navbar .dropdown-menu {
  background-color: rgb(50, 54, 57);
}
.navbar .dropdown-menu a {
  color: white;
}
.navbar .dropdown-menu a:hover {
  background-color: rgb(32, 36, 41);
}

.btn-dark-yellow {
    color: black;
    background-color: #f9c637;
}
.btn-dark-yellow:hover, .btn-dark-yellow:focus, .btn-dark-yellow:active {
    color: black;
    background-color: #f9c637;
}

.btn-light-purple {
    color: white;
    background-color: #9d78a3;
}
.btn-light-purple:hover, .btn-light-purple:focus, .btn-light-purple:active {
    color: white;
    background-color: #9d78a3;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Classe de couleur du Vin d'Orge */
.bg-dark-theme {
  background-color: rgb(50, 54, 57);
}

.bg-dark-purple {
  background-color: #6f5d80;
}
.bg-light-purple {
  background-color: #9d78a3;
}
.bg-dark-yellow {
  background-color: #f9c637;
}
.bg-white-wine {
  background-color: #eaeaa390;
}
.bg-rose-wine {
  background-color: #f097cb90;
}
.bg-red-wine {
  background-color: #cc3b2790;
}
.bg-amber-beer {
  background-color: #e2912d90;
}
.bg-white-beer {
  background-color: #b8ebec90;
}
.bg-blond-beer {
  background-color: #fae53490;
}
.bg-brown-beer {
  background-color: #97663390;
}
.bg-fruity-beer {
  background-color: #ec4a4c90;
}
