.bgClass1{top:5.00mm;left:5.00mm;}
.bgClass2{top:5.00mm;left:76.75mm;}
.bgClass3{top:5.00mm;left:148.50mm;}
.bgClass4{top:5.00mm;left:220.25mm;}
.bgClass5{top:25.00mm;left:5.00mm;}
.bgClass6{top:25.00mm;left:76.75mm;}
.bgClass7{top:25.00mm;left:148.50mm;}
.bgClass8{top:25.00mm;left:220.25mm;}
.bgClass9{top:45.00mm;left:5.00mm;}
.bgClass10{top:45.00mm;left:76.75mm;}
.bgClass11{top:45.00mm;left:148.50mm;}
.bgClass12{top:45.00mm;left:220.25mm;}
.bgClass13{top:65.00mm;left:5.00mm;}
.bgClass14{top:65.00mm;left:76.75mm;}
.bgClass15{top:65.00mm;left:148.50mm;}
.bgClass16{top:65.00mm;left:220.25mm;}
.bgClass17{top:85.00mm;left:5.00mm;}
.bgClass18{top:85.00mm;left:76.75mm;}
.bgClass19{top:85.00mm;left:148.50mm;}
.bgClass20{top:85.00mm;left:220.25mm;}
.bgClass21{top:105.00mm;left:5.00mm;}
.bgClass22{top:105.00mm;left:76.75mm;}
.bgClass23{top:105.00mm;left:148.50mm;}
.bgClass24{top:105.00mm;left:220.25mm;}
.bgClass25{top:125.00mm;left:5.00mm;}
.bgClass26{top:125.00mm;left:76.75mm;}
.bgClass27{top:125.00mm;left:148.50mm;}
.bgClass28{top:125.00mm;left:220.25mm;}
.bgClass29{top:145.00mm;left:5.00mm;}
.bgClass30{top:145.00mm;left:76.75mm;}
.bgClass31{top:145.00mm;left:148.50mm;}
.bgClass32{top:145.00mm;left:220.25mm;}
.bgClass33{top:165.00mm;left:5.00mm;}
.bgClass34{top:165.00mm;left:76.75mm;}
.bgClass35{top:165.00mm;left:148.50mm;}
.bgClass36{top:165.00mm;left:220.25mm;}
.bgClass37{top:185.00mm;left:5.00mm;}
.bgClass38{top:185.00mm;left:76.75mm;}
.bgClass39{top:185.00mm;left:148.50mm;}
.bgClass40{top:185.00mm;left:220.25mm;}