.bgClass1{top:5.00mm;left:5.00mm;}
.bgClass2{top:5.00mm;left:100.67mm;}
.bgClass3{top:5.00mm;left:196.33mm;}
.bgClass4{top:71.67mm;left:5.00mm;}
.bgClass5{top:71.67mm;left:100.67mm;}
.bgClass6{top:71.67mm;left:196.33mm;}
.bgClass7{top:138.33mm;left:5.00mm;}
.bgClass8{top:138.33mm;left:100.67mm;}
.bgClass9{top:138.33mm;left:196.33mm;}