/*@font-face {
  font-family: Local Brewery;
  src: url(../fonts/localbrewerytwo-bold.otf);
}

@font-face {
  font-family: Brandon Printed;
  src: url(../fonts/Brandon_Printed_One_Shadow.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}*/

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
/* Fond ----------------------------------------------------------------------*/
.spiritClass {
 text-align: center;
}
.bottleClass {
 display: inline-block;
}
.priceClass {
 text-align: center;
 display: inline-block;
}
.flagClass {
  background-size: cover;
  display: inline-block;
  float: right;
}
/* Saveurs--------------------------------------------------------------------*/
.iode {background-color: rgba(0, 84, 147, 1);}
.vegetal {background-color: rgba(0, 84, 147, 1);}
.tourbe {background-color: rgba(148, 82, 0, 1);}
.toaste {background-color: rgba(148, 82, 0, 1);}
.floral {background-color: rgba(115, 250, 121, 1);}
.boise {background-color: rgba(0, 144, 81, 1);}
.epice {background-color: rgba(255, 147, 0, 1);}
.fruite {background-color: rgba(148, 17, 0, 1);}
/*----------------------------------------------------------------------------*/
.blanc {
  color : rgb(120, 120, 120);
  background-color: rgb(240, 240, 240);}
.grey {color : rgb(80, 80, 80);}
/*----------------------------------------------------------------------------*/
.bgClass {
  position: absolute;
  width: 270px;
  height: 74px;
}
.spiritNamesClass {
  text-align: center;
  font-size: 15px;
}
.spiritNameClass {
  text-align: center;
  min-height: 38px;
  line-height: 38px;
  font-size: 15px;
}
.bottomlineClass {
  padding-left: 5px;
  padding-right: 5px;
}
.bottleClass {
  min-width: 60px;
  font-size: 15px;
}
.priceClass {
  min-width: 140px;
  font-size: 30px;
}
.flagClass {
  text-align: center;
  margin-left: 28px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
