{% set food_pairing_list = ["Fruits de mer", "Dessert", "Fois gras", "Fromage", "Poisson", "Viande rouge", "Volaille", "Charcuterie"] %}

{% if list_category == "wine" %}

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text bg-dark-purple" for="food_pairing">Accords</label>
                <select class="form-select text-center" multiple size="3" id="food_pairing" name="food_pairing">
                    {% for x in food_pairing_list %}
                        {% if article and x in article.food_pairing %}
                            <option selected>{{ x }}</option>
                        {% else %}
                            <option>{{ x }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

{% endif %}
