<div class="input-group mx-auto w-50">
    {% if article %}
        <input type="text" class="form-control bg-body-secondary text-center" aria-label="" name="type" value="{{ article.type }}" readonly>
    {% else %}
        {% if type_list|length > 1 %}
            <label class="input-group-text" for="type">Type</label>
            <select class="form-select" id="type" name="type" required>
                <option selected></option>
                {% for x in type_list %}
                    <option>{{ x }}</option>
                {% endfor %}
            </select>
        {% else %}
            <span class="input-group-text">Type</span>
            <input type="text" class="form-control bg-body-secondary text-center" aria-label="" name="type" value="{{ type_list[0] }}" readonly>
        {% endif %}
    {% endif %}
</div>
