{% if list_category in ["wine", "fortified_wine", "sparkling_wine", "bib"] %}
    {% set region_title = "Région" %}
    {% set regions = regions %}
{% else %}
    {% set region_title = "Pays" %}
    {% set regions = countries %}
{% endif %}

{% if list_category in ['rhum', 'whisky', 'spirit'] %}
    {% set color_taste_title = "Saveur" %}
    {% set color_taste_list = ['Boisé', 'Epicé', 'Floral', 'Fruité', 'Iodé', 'Toasté', 'Tourbé', 'Végétal'] %}
    {% set color_taste_attr = "taste" %}
{% elif list_category in ["beer", "cider", "keg", "mini_keg"] %}
    {% set color_taste_title = "Couleur" %}
    {% set color_taste_list = ['Ambrée', 'Blanche', 'Blonde', 'Brune', 'Fruitée'] %}
    {% set color_taste_attr = "color" %}
{% elif list_category in ["wine", "fortified_wine", "sparkling_wine", "bib"] %}
    {% set color_taste_title = "Couleur" %}
    {% set color_taste_list = ['Blanc', 'Rosé', 'Rouge'] %}
    {% set color_taste_attr = "color" %}
{% endif %}

{% if list_category not in ["box", "misc", "food"] %}

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text bg-dark-purple" for="region">{{ region_title }}</label>
                <select class="form-select text-center" id="region" name="region" required>
                    <option selected></option>
                    {% for x in regions %}
                        {% if article and x.name == article.region %}
                            <option selected>{{ x.name }}</option>
                        {% else %}
                            <option>{{ x.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        {% if list_category != "arranged" %}

            <div class="col-md">
                <div class="input-group">
                    <label class="input-group-text bg-dark-purple" for="{{ color_taste_attr }}">{{ color_taste_title }}</label>
                    <select class="form-select text-center" id="{{ color_taste_attr }}" name="{{ color_taste_attr }}" required>
                        <option selected></option>
                        {% for x in color_taste_list %}
                            {% if article and x == article | attr(color_taste_attr) %}
                                <option selected>{{ x }}</option>
                            {% else %}
                                <option>{{ x }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

        {% endif %}

    </div>

{% endif %}
