<li>
  <a class="btn btn-ghost rounded-field" href="{{ url_for('get_articles') }}"> Articles </a>
</li>
<li>
  <a class="btn btn-ghost rounded-field" href="{{ url_for('get_price_labels') }}"> Etiquettes </a>
</li>
<li>
  <a class="btn btn-ghost rounded-field" href="{{ url_for('get_inventories') }}"> Inventaires </a>
</li>
<li>
  <details>
    <summary class="btn btn-ghost rounded-field">Gestion</summary>
    <ul class="w-max">
      <li>
        <a href="{{ url_for('get_producers', producer_type='brewery') }}"> Brasseries </a>
      </li>
      <li>
        <a href="{{ url_for('get_producers', producer_type='distillery') }}"> Distilleries </a>
      </li>
      <li>
        <a href="{{ url_for('get_distributors') }}"> Fournisseurs </a>
      </li>
      <li>
        <a href="{{ url_for('get_origins') }}"> Pays / Régions </a>
      </li>
      <li>
        <a href="{{ url_for('get_deposits') }}"> Consignes </a>
      </li>
      <li>
        <a href="{{ url_for('get_volumes') }}"> Volumes </a>
      </li>
    </ul>
  </details>
</li>
