@font-face {
  font-family: Local Brewery;
  src: url(../../fonts/localbrewerytwo-bold.otf);
}

@font-face {
  font-family: Brandon Printed;
  src: url(../../fonts/Brandon_Printed_One_Shadow.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Medium.ttf);
}
