.bgClass1 {
  top: 5mm;
  left: 5mm;
}
.bgClass2 {
  top: 5mm;
  left: 76.75mm;
}
.bgClass3 {
  top: 5mm;
  left: 148.5mm;
}
.bgClass4 {
  top: 5mm;
  left: 220.25mm;
}
.bgClass5 {
  top: 25mm;
  left: 5mm;
}
.bgClass6 {
  top: 25mm;
  left: 76.75mm;
}
.bgClass7 {
  top: 25mm;
  left: 148.5mm;
}
.bgClass8 {
  top: 25mm;
  left: 220.25mm;
}
.bgClass9 {
  top: 45mm;
  left: 5mm;
}
.bgClass10 {
  top: 45mm;
  left: 76.75mm;
}
.bgClass11 {
  top: 45mm;
  left: 148.5mm;
}
.bgClass12 {
  top: 45mm;
  left: 220.25mm;
}
.bgClass13 {
  top: 65mm;
  left: 5mm;
}
.bgClass14 {
  top: 65mm;
  left: 76.75mm;
}
.bgClass15 {
  top: 65mm;
  left: 148.5mm;
}
.bgClass16 {
  top: 65mm;
  left: 220.25mm;
}
.bgClass17 {
  top: 85mm;
  left: 5mm;
}
.bgClass18 {
  top: 85mm;
  left: 76.75mm;
}
.bgClass19 {
  top: 85mm;
  left: 148.5mm;
}
.bgClass20 {
  top: 85mm;
  left: 220.25mm;
}
.bgClass21 {
  top: 105mm;
  left: 5mm;
}
.bgClass22 {
  top: 105mm;
  left: 76.75mm;
}
.bgClass23 {
  top: 105mm;
  left: 148.5mm;
}
.bgClass24 {
  top: 105mm;
  left: 220.25mm;
}
.bgClass25 {
  top: 125mm;
  left: 5mm;
}
.bgClass26 {
  top: 125mm;
  left: 76.75mm;
}
.bgClass27 {
  top: 125mm;
  left: 148.5mm;
}
.bgClass28 {
  top: 125mm;
  left: 220.25mm;
}
.bgClass29 {
  top: 145mm;
  left: 5mm;
}
.bgClass30 {
  top: 145mm;
  left: 76.75mm;
}
.bgClass31 {
  top: 145mm;
  left: 148.5mm;
}
.bgClass32 {
  top: 145mm;
  left: 220.25mm;
}
.bgClass33 {
  top: 165mm;
  left: 5mm;
}
.bgClass34 {
  top: 165mm;
  left: 76.75mm;
}
.bgClass35 {
  top: 165mm;
  left: 148.5mm;
}
.bgClass36 {
  top: 165mm;
  left: 220.25mm;
}
.bgClass37 {
  top: 185mm;
  left: 5mm;
}
.bgClass38 {
  top: 185mm;
  left: 76.75mm;
}
.bgClass39 {
  top: 185mm;
  left: 148.5mm;
}
.bgClass40 {
  top: 185mm;
  left: 220.25mm;
}
