.bgClass1 {
  top: 5mm;
  left: 5mm;
}
.bgClass2 {
  top: 5mm;
  left: 100.67mm;
}
.bgClass3 {
  top: 5mm;
  left: 196.33mm;
}
.bgClass4 {
  top: 71.67mm;
  left: 5mm;
}
.bgClass5 {
  top: 71.67mm;
  left: 100.67mm;
}
.bgClass6 {
  top: 71.67mm;
  left: 196.33mm;
}
.bgClass7 {
  top: 138.33mm;
  left: 5mm;
}
.bgClass8 {
  top: 138.33mm;
  left: 100.67mm;
}
.bgClass9 {
  top: 138.33mm;
  left: 196.33mm;
}
