{% if list_category not in ["box", "misc", "food"] %}

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text bg-dark-purple" for="volume">Volume</label>
                <select class="form-select text-center" id="volume" name="volume" required>
                    <option selected></option>
                    {% for x in volume_list %}
                        {% if article and x == article.volume %}
                            <option selected>{{ x | strip_zeros }}</option>
                        {% else %}
                            <option>{{ x | strip_zeros }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        {% if list_category not in ["wine", "fortified_wine", "sparkling_wine", "bib"] %}

            <div class="col-md">
                <div class="input-group">
                    <span class="input-group-text bg-dark-purple">Degré</span>
                    <input type="text" class="form-control text-center" aria-label="" name="alcohol_by_volume" {% if article %}value="{{ article.alcohol_by_volume | strip_zeros }}"{% endif %} required>
                </div>
            </div>

        {% elif list_category == "wine" %}

            <div class="col-md">
                <div class="input-group">
                <label class="input-group-text bg-dark-purple" for="biodynamic">Bio</label>
                <select class="form-select text-center" id="biodynamic" name="biodynamic">
                    <option selected></option>
                    {% for x in ["Bio", "Biodynamique"] %}
                        {% if article and x == article.biodynamic %}
                            <option selected>{{ x }}</option>
                        {% else %}
                            <option>{{ x }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
            </div>

        {% endif %}

    </div>

{% endif %}
