{% if list_category == 'beer' %}
    {% set deposit_category = "Bière" %}
{% elif list_category == 'keg' %}
    {% set deposit_category = "Fût" %}
{% elif list_category == 'mini_keg' %}
    {% set deposit_category = "Mini-fût" %}
{% endif %}

{% if list_category in ["beer", "keg", "mini_keg"] %}

    <div class="row mt-3">
        <div class="col-md">

            <div class="input-group">
                <label class="input-group-text bg-dark-purple" for="unit-deposit">Consigne</label>
                <select class="form-select text-center" id="unit-deposit" name="unit" required>
                    <option selected></option>
                    {% for deposit in deposits %}
                        {% if deposit.deposit_type == "Unitaire" and deposit.category == deposit_category %}
                            {% if article and deposit.value == article.deposit.unit %}
                                <option selected>{{ deposit.value | strip_zeros }}</option>
                            {% else %}
                                <option>{{ deposit.value | strip_zeros }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

        </div>
        <div class="col-md">

            {% if list_category == "beer" %}

                <div class="input-group">
                    <label class="input-group-text bg-dark-purple" for="case-deposit">Consigne caisse</label>
                    <select class="form-select text-center" id="case-deposit" name="case" required>
                        <option selected></option>
                        {% for deposit in deposits %}
                            {% if deposit.deposit_type == "Caisse" and deposit.category == deposit_category %}
                                {% if article and deposit.value == article.deposit.case %}
                                    <option selected>{{ deposit.value | strip_zeros }}</option>
                                {% else %}
                                    <option>{{ deposit.value | strip_zeros }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

            {% endif %}

        </div>
    </div>

{% endif %}
