<div class="grid grid-cols-1 md:grid-cols-3 gap-2">
  {% for store in stores %}

    {% if article %}
      {% set store_data = article.store_data[store.slug] %}
    {% else %}
      {% set store_data = {
        "stock_quantity": 0,
        "margins": {"margin_amount": "", "margin_rate": ""},
      } %}
    {% endif %}

    <div class="card shadow border border-base-300" data-store="{{ store.slug }}">
      <div class="card-body">
        <div class="flex justify-between items-start">
          <h2 class="card-title">{{ store.name }}</h2>
          <div class="stats shadow bg-base-300">
            <div class="stat p-1 place-items-center">
              <div class="stat-title">Stock</div>
              <div
                class="stat-value text-base font-mono {% if store_data.stock_quantity > 0 %}text-success{% else %}text-error{% endif %}"
              >
                {{ store_data.stock_quantity }}
              </div>
              <input
                type="hidden"
                name="store_data.{{ store.slug }}.stock_quantity"
                value="{{ store_data.stock_quantity }}"
              />
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Prix cave (€)</legend>
            <label class="input input-sm w-full">
              <input
                type="number"
                min="0"
                step="0.01"
                class="grow"
                data-store-field="gross_price"
                name="store_data.{{ store.slug }}.gross_price"
                value="{{ store_data.gross_price }}"
              />
            </label>
          </fieldset>

          <fieldset class="fieldset">
            <legend class="fieldset-legend">Prix bar (€)</legend>
            <input
              type="number"
              class="input input-sm w-full"
              name="store_data.{{ store.slug }}.bar_price"
              value="{{ store_data.bar_price }}"
            />
          </fieldset>
        </div>

        <div class="stats shadow bg-base-300">
          <div class="stat p-1 place-items-center">
            <div class="stat-title">PVC</div>
            <div class="stat-value text-base font-mono" data-store-field="recommended_price">
              {{ store_data.recommended_price }} €
            </div>
            <input
              type="hidden"
              name="store_data.{{ store.slug }}.recommended_price"
              data-store-field="recommended_price"
              value="{{ store_data.recommended_price }}"
            />
          </div>

          <div class="stat p-1 place-items-center">
            <div class="stat-title">Marge</div>
            <div class="stat-value text-base font-mono" data-store-field="margin_amount">
              {{ store_data.margins.margin_amount }} €
            </div>
            <input
              type="hidden"
              name="store_data.{{ store.slug }}.margins.margin_amount"
              data-store-field="margin_amount"
              value="{{ store_data.margins.margin_amount }}"
            />
          </div>

          <div class="stat p-1 place-items-center">
            <div class="stat-title">Taux</div>
            <div class="stat-value text-base font-mono" data-store-field="margin_rate">
              {{ store_data.margins.margin_rate }} %
            </div>
            <input
              type="hidden"
              name="store_data.{{ store.slug }}.margins.margin_rate"
              data-store-field="margin_rate"
              value="{{ store_data.margins.margin_rate }}"
            />
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
