{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<div class="container padding-navbar">

  <form method="post">

  <div class="row justify-content-center py-3">
    <div class="col-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-dark-purple text-white">{{ dropdown_name }}</span>
        </div>
        <input type="text" class="form-control" name="name" required>
      </div>
    </div>
    {% if dropdown_category == 'countries' %}
    <div class="col-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-dark-purple text-white">Gentilé</span>
        </div>
        <input type="text" class="form-control" name="demonym">
      </div>
    </div>
    {% endif %}
    <div class="col-1">
      <button type="submit" class="btn btn-outline-primary">Ajouter</button>
    </div>
  </div>

  </form>

  <div class="row justify-content-center py-3">
    {% if dropdown_category == 'countries' %}<div class="col-7">{% else %}<div class="col-4">{% endif %}
      <table class="table table-dark table-striped table-bordered table-hover table-sm">
        <thead class="bg-dark-purple text-white">
          <tr>
            <th class="text-center text-nowrap">{{ dropdown_name }}</th>
            {% if dropdown_category == 'countries' %}<th class="text-center text-nowrap">Gentilé</th>{% endif %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for x in dropdown_list %}
            {% if x.name != '-' %}
              <tr>
                <td class="text-center text-nowrap">{{ x.name }}</td>
                {% if dropdown_category == 'countries' %}<td class="text-center text-nowrap">{{ x.demonym }}</td>{% endif %}
                <td class="text-center" style="width: 20px"><a href="{{ url_for('delete_dropdown', dropdown_category=dropdown_category, dropdown_id=x._id) }}"><i class="fas fa-times" style="color:red"></i><a/></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}