<dialog id="item-create-modal" class="modal">
  <div class="modal-box flex justify-center">
    <form id="item-create-form" data-category="{{ category }}">
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">

        <label class="label">Nom</label>
        <input type="text" class="input" name="name" required/>

        {% if category == 'countries' %}
          <label class="label">Gentillé</label>
          <input type="text" class="input"/>
        {% endif %}

        <div class="modal-action flex justify-between">
          <button type="button" id="item-create-modal-close" class="btn btn-soft">Annuler</button>
          <button type="submit" class="btn btn-outline btn-primary">Créer</button>
        </div>
      </fieldset>
    </form>
  </div>
</dialog>
