{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}

    <div class="container padding-navbar">
        <div class="row justify-content-center">

            {% if category == "countries" %}
                {% set col_width = 6 %}
            {% else %}
                {% set col_width = 4 %}
            {% endif %}

            <div class="col col-lg-{{ col_width }}">

                <form
                    method="post"
                    hx-post="{{ request.url }}"
                    hx-target="tbody"
                    hx-swap="afterbegin"
                    hx-on:htmx:after-request="this.reset()"
                >
                    <div class="input-group mb-2">
                        <span class="input-group-text w-25 bg-light-purple">{{ title }}</span>
                        <input type="text" class="form-control" name="name" required>
                    </div>

                    {% if category == "countries" %}
                        <div class="input-group mb-2">
                            <span class="input-group-text w-25 bg-light-purple">Gentilé</span>
                            <input type="text" class="form-control" name="demonym">
                        </div>
                    {% endif %}

                    <div class="d-grid mb-2">
                        <button class="btn btn-outline-primary" type="submit">Créer</button>
                    </div>
                </form>

                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead class="sticky" style="--sticky-top: 53px">
                    <tr>
                        <th class="text-center text-nowrap bg-light-purple">{{ title }}</th>
                        {% if category == 'countries' %}
                            <th class="text-center text-nowrap bg-light-purple">Gentilé</th>{% endif %}
                        <th class="bg-light-purple not-sortable"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        {% include "items/_item_row.html" %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
