<input type="hidden" id="article-id" value="{{ article.id }}" />

<div class="grid grid-cols-1 justify-items-center">
  <div class="join w-full md:max-w-2xs">
    <button
      class="
      btn
      btn-sm
      btn-soft
      btn-primary
      join-item
      pointer-events-none
      hover:bg-inherit
      active:bg-inherit
      focus:outline-none"
    >
      Categorie
    </button>
    {% if article %}
      <input
        class="input input-sm join-item w-full font-bold bg-base-200 pointer-events-none"
        value="{{ article.category }}"
        name="category"
        readonly
      />
    {% else %}
      <select class="select select-sm join-item w-full font-bold" name="category" required>
        <option disabled selected></option>
        {% for category in categories %}
          <option {% if article.category == category.name %}selected{% endif %}>
            {{ category.name }}
          </option>
        {% endfor %}
      </select>
    {% endif %}
  </div>
</div>
{# ------------------------------------------------------------------------ #}

<div class="card shadow border border-base-300">
  <div class="card-body pt-4">
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-x-4">
      {% include "articles/_includes/_producer.html" %}
      {% include "articles/_includes/_product.html" %}
      {% include "articles/_includes/_volume.html" %}
      {% include "articles/_includes/_origin.html" %}
      {% include "articles/_includes/_color_taste.html" %}
      {% include "articles/_includes/_alcohol_by_volume.html" %}
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-x-4">
      {% include "articles/_includes/_costs.html" %}
    </div>
  </div>
</div>

{# ------------------------------------------------------------------------ #}
{% include "articles/_includes/_store-cards.html" %}
{# ------------------------------------------------------------------------ #}

<div class="card shadow border border-base-300">
  <div class="card-body pt-4">
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-x-4">
      {% include "articles/_includes/_distributor.html" %}
      {% include "articles/_includes/_barcode.html" %}
    </div>

    {% include "articles/_includes/_deposit.html" %}
  </div>
</div>

<div class="modal-action flex justify-between">
  <button type="reset" class="btn btn-soft">Annuler</button>
  <button
    type="submit"
    class="btn btn-outline btn-primary"
    data-action="{% if article %}update{% else %}create{% endif %}"
  >
    Valider
  </button>
</div>
