{% extends "base.html" %}
{% block content %}
  <div class="h-dvh flex flex-col">
    {% include '_includes/_navbar.html' %}
    <div class="flex flex-col flex-1 px-4 py-4 gap-4 min-h-0">
      {# -------------------------------------------------------------------- #}
      <div class="card bg-base-200 shadow-sm">
        <div class="card-body md:flex md:flex-row justify-between md:items-center gap-4">
          <div class="flex items-center gap-4">
            <h1 class="card-title text-2xl">Articles</h1>
            <div id="items-count" class="badge badge-soft badge-accent badge-lg">
              {{ result.total }}
            </div>
          </div>

          <div>
            <div class="dropdown dropdown-hover hidden" id="price-labels-dropdown">
              <div tabindex="0" role="button" class="btn m-1">Etiquettes</div>
              <ul
                tabindex="-1"
                class="dropdown-content menu bg-base-100 rounded-box z-10 w-52 p-2 shadow-sm"
              >
                <li><a id="price-labels-selected">Afficher sélectionnées</a></li>
                <li><a id="price-labels-unselect">Tout désélectionner</a></li>
                <div class="divider"></div>
              </ul>
            </div>

            <div class="dropdown dropdown-hover dropdown-end">
              <div tabindex="0" role="button" class="btn m-1">Nouveau</div>
              <ul
                tabindex="-1"
                class="dropdown-content menu bg-base-100 rounded-box z-10 w-52 p-2 shadow-sm"
                data-id="new-article-dropdown"
              ></ul>
            </div>
          </div>
        </div>
      </div>
      {# -------------------------------------------------------------------- #}
      <div class="self-center" id="pagination">{% include "_includes/_pagination.html" %}</div>
      {# -------------------------------------------------------------------- #}
      <div class="overflow-x-auto rounded-box border border-base-300">
        <table class="table table-pin-rows table-sm" id="articles-table">
          <thead>
            <tr>
              <th></th>
              <th>Nom</th>
              <th>Région</th>
              <th>Couleur</th>
              <th>Saveur</th>
              <th>Alc. %</th>
              <th>Fournisseur</th>
              <th>Catégorie</th>
            </tr>
          </thead>
          <tbody>
            {% for article in result.items %}
              {% include "articles/_article_row.html" %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {# -------------------------------------------------------------------- #}
    </div>
  </div>

  <dialog id="article-modal" class="modal">
    <div class="modal-box max-w-4xl max-h-[90vh] bg-base-200">
      <form id="article-form">
        <div id="article-modal-content" class="grid gap-2">
          {# fill dynamically with articles/_article.html #}
        </div>
      </form>
    </div>
    <div class="toast toast-end z-9999" id="modal-toast-container"></div>
  </dialog>
{% endblock %}
