{% extends "base.html" %}
{% block content %}
  <div class="flex justify-center items-center min-h-screen">
    <form method="post">
      <div class="card bg-base-200 w-sm shadow">
        <div class="card-body">
          <div class="grid gap-6">
            <input type="hidden" name="access_token" value="{{ access_token }}">

            <fieldset class="fieldset">
              <legend class="fieldset-legend">Choisis ton mot de passe</legend>
              <label class="input input-lg w-full validator">
                <i class="bi bi-key text-lg"></i>
                <input
                  class="grow"
                  type="password"
                  minlength="6"
                  name="password"
                  required
                  autocomplete="new-password"
                />
              </label>
            </fieldset>

            <button type="submit" class="btn btn-lg btn-primary">Valider</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
<script>
  if (window.location.hash) {
    console.log(window.location.hash)
    const hash = window.location.hash.substring(1);
    const params = new URLSearchParams(hash);
    const access_token = params.get('access_token');
    console.log(access_token)
    if (access_token) {
      window.location.href = window.location.pathname + '?access_token=' + access_token
    }
  }
</script>
{% endblock %}
