{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}

    {% set category_mapping = {
        "beer": "Bière / Cidre",
        "bib": "BIB",
        "keg": "Fût",
        "mini_keg": "Mini-fût",
        "spirit": "Spiritueux",
        "wine": "Vin",
    } %}

    <div class="container padding-navbar">
        <div class="row justify-content-center">
            <div class="col col-lg-6">

                <form method="post">
                    <div class="input-group mb-2">
                        <label class="input-group-text w-25 bg-light-purple" for="volume-category">Catégorie</label>
                        <select class="form-select text-center" id="volume-category" name="category" required>
                            <option selected></option>
                            {% for key, value in category_mapping.items() %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text w-25 bg-light-purple" for="volume-unit">Unité</label>
                        <select class="form-select text-center" id="volume-unit" name="unit" required>
                            <option selected></option>
                            <option>cL</option>
                            <option>L</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text w-25 bg-light-purple">Valeur</span>
                        <input type="number" step="0.1" min="0.1" class="form-control text-center" aria-label="value" name="value" required>
                    </div>
                    <div class="d-grid mb-2">
                        <button class="btn btn-outline-primary" type="submit">Créer</button>
                    </div>
                </form>

                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead class="sticky" style="--sticky-top: 53px">
                    <tr>
                        <th class="text-center text-nowrap bg-light-purple">Catégorie</th>
                        <th class="text-center text-nowrap bg-light-purple">Unité</th>
                        <th class="text-center text-nowrap bg-light-purple">Valeur</th>
                        <th class="bg-light-purple"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for volume in volumes %}
                        <tr>
                            <td class="text-center text-nowrap">{{ category_mapping[volume.category] }}</td>
                            <td class="text-center text-nowrap">{{ volume.unit }}</td>
                            <td class="text-center text-nowrap">{{ volume.value | strip_zeros }}</td>
                            <td class="text-center" style="width: 20px">
                                <a href="{{ url_for('items.delete_volume', volume_id=volume.id) }}">
                                    <i class="bi bi-x-square text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
